*~
*/*~
*.d
*.o
*/*.o
*.a
*.dat
*.so
*.h5
*.xmf

*.pyc
__pycache__

.DS_Store
._*
.pytest_cache
*.swp
*.xcodeproj
/build
/bin
/cmake/check_mpi_thread_safety
/dependencies
/lib
/launch/results
/tests/.cache
/accfft/build
/README.html

/launch/deprecatedSettings/
/launch/misc/
/source_old/
/utils/
